* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--text-color);
}

:root {
    --icon-color: #facc15;
    --border-color: #27272a;
    --background-color: #121212;
    --text-color: #ffffff;
    --button-color: #dc143c;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: auto;
    font-size: 1.4rem;
}
    nav i {
        transition: all 0.3s ease;
    }

        nav i:hover {
            color: var(--icon-color);
            transform: scale(1.2);
            filter: drop-shadow(0px 0px 10px var(--icon-color));
        }

.folder-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#folder-open-icon {
    display: none;
}

.folder-menu.active #folder-icon {
    display: none;
}

.folder-menu.active #folder-open-icon {
    display: inline-block;
}

.nav-links {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    min-width: 180px;
    background: var(--background-color);
    border-radius: 8px;
    padding: 10px 0;
    list-style: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    z-index: 100;
}

.folder-menu.active .nav-links {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.nav-links li {
    padding: 8px 20px;
}

.nav-links li a {
    font-size: 1rem;
    
    color: var(--text-color);
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: var(--icon-color);
    filter: drop-shadow(0px 0px 10px var(--icon-color));
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.web-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.6rem;
    padding: 20px;
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: 0px 8px 10px var(--border-color);
    width: min(1200px, 100%);
    margin: 0 auto;
}

    .web-navigation a {
        color: var(--text-color);
        transition: all 0.3s ease;
    }

        .web-navigation a:hover {
            color: var(--icon-color);
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 10px var(--icon-color));
        }

section h1 {
    border-bottom: 1px solid var(--icon-color);
    cursor: default;
}

.open-button {
    color: var(--text-color);
    background: transparent;
    border: none;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

    .open-button:hover {
        color: var(--icon-color);
        filter: drop-shadow(0px 0px 10px var(--icon-color));
    }